
@font-face {
  font-family: 'title';
  src: local('title'), url(./fonts/Demagogue.otf) format('opentype');
}

@font-face {
  font-family: 'general';
  src: local('general'), url(./fonts/ModernSans-Light.otf) format('opentype');
}

* {
	margin: 0px;
	padding: 0px;
	font-family: general;
}

h1 {
	font-family: title
}

p {
	font-size: 1.15em;
}

body {
	background-image: url(https://listing-site-scumlord.s3-ap-southeast-1.amazonaws.com/assets/hk-background.png);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.App {
  text-align: center;
}

/* NAVBAR */

.navbar {
	position: fixed;
	display: flex;
	justify-content: space-between;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 5px;
	background-color: #faf5f5;
}

	.logo-container {
		display: flex;
	}

		.logo {
			height: 60px;
			width: 60px;
			margin-right: 10px;
		}

		#site-name {
			font-size: 2.1em;
			display: table-cell;
			vertical-align: middle;
			margin: auto auto auto 20px;
		}

		@media screen and ( max-width: 520px ) {

			#site-name {
				display: none;
			}

		}

	.search-container {
		display: flex;
	}

		.search-icon {
			height: 30px;
			width: 30px;
			margin: auto 20px auto 5px;
			display: block;
		}


/* HOME */

.info-container {
	position: relative;
	background-color: rgba( 255, 255, 255, 0.85 );
	border-radius: 10px;
	padding: 25px;
	width: calc( 90% - 50px );
	top: calc( 35px + 5vw );
	margin-top: 35px;
	left: 50%;
	transform: translateX( -50% );
}

/* SCUM INPUT */

.input-container {
	padding: 30px;
	border-radius: 5px;
	background-color: white;
}

	.input-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
		grid-row-gap: 2rem;
		grid-column-gap: 50px;
	}