
* {
	margin: 0px;
	padding: 0px;
}

@font-face {
  font-family: 'title';
  src: local('title'), url(./fonts/Demagogue.otf) format('opentype');
}

h1 {
	font-family: title
}

body {
	background-image: url(https://listing-site-scumlord.s3-ap-southeast-1.amazonaws.com/assets/hk-background.png);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.App {
  text-align: center;
}

/* NAVBAR */

.navbar {
	position: fixed;
	display: flex;
	justify-content: space-between;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 5px;
	background-color: #faf5f5;
}

	.logo-container {
		display: flex;
	}

		.logo {
			height: 60px;
			width: 60px;
		}

		.logo-container > h1 {
			font-size: 2.1em;
			display: table-cell;
			vertical-align: middle;
			margin: auto auto auto 20px;
		}

	.search-container {
		display: flex;
	}

		.search-icon {
			height: 30px;
			width: 30px;
			margin: auto 20px auto 5px;
			display: block;
		}


/* HOME */

.info-container {
	position: relative;
	background-color: rgba( 205, 255, 255, 0.7 );
	height: 120vh;
	width: 90%;
	top: calc( 70px + 5vw );
	left: 50%;
	transform: translateX( -50% );
}

